  <h1>Edit Location</h1>

<%= form_for [@trip, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :days %>
  <%= f.text_field :days%>
  <br />
  <%= f.submit %>
<% end %>