<h1 class="ui header"><%= @location.name %> </h1>
<hr>
<div class="content">
    <p class="header">
<p>Trip Duration: <%= @location.days %></p>
</div>
<br />
<%= link_to 'Show Address', location_addresses_path(@location), class: "ui orange button inverted" %>
<%= link_to 'Edit Location', edit_trip_location_path([@trip, @location]), class: "ui blue button inverted" %>

<div class="ui red button inverted">
<%= link_to 'Delete Location', [@trip, @location], method: :delete, data: { confirm: 'Are you sure?' }  %>
</div>

<%= link_to 'Back to Locations', trip_locations_path(@trip), class: "ui purple button inverted" %>
<br />
<%# link_to 'View Comments', topic_comments_path(@topic) %>