<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
    <div class="ui container">
    <%= yield %>
  </body>
  <br></br>
  <%= render 'layouts/footer' %>
  <div class="wrapper">

    <div class="push"></div>
  </div>
  <footer class="footer"></footer>

</html>
